@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root{
    --white: rgba(255, 255, 255);
    --alice-blue: #f8f9fa;
    --carribean-green: #40c9a2;
    --gray: #ededed;
    --black: #090909;
}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Source Code Pro", monospace;
	font-style: normal;
	color: var(--white);
}

html, body{
	height: 100%;
}

body{
	background-color: var(--black);

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

main{
	width: 60%;
	height: 100%;
	padding-top: 5em;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

main .title{
	width: 100%;
	font-size: 15px;
	font-weight: 200;
	font-style: light;
	letter-spacing: 4px;
	padding-bottom: 2em;

}


main .header-carrinho{
	width: 100%;
	height: 2em;
	padding-bottom: 1em;

	display: grid;
	grid-template-columns: 3fr 1fr 1fr;
	align-items: center;

	border-bottom: .5px solid rgba(255, 255, 255, 0.3);
}

main .header-carrinho .text-total{
	text-align: right;
}

main .conteudo-carrinho{
	width: 100%;

	display: flex;
	flex-direction: column;
}

.conteudo-carrinho .prod{
	width: 100%;
	height: auto;
	padding: 2.5em 0;

	display: grid;
	grid-template-columns: 1fr 2fr 1fr 1fr;
	border-bottom: .5px solid rgba(255, 255, 255, 0.3);
}

.conteudo-carrinho .prod .image img{
	width: 150px;
	filter: drop-shadow(0px 0px 1px var(--white));
}


.conteudo-carrinho .prod .desc-prod{
	max-width: 270px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1em;
}

.prod .nm-prod{
	font-size: 20px;
	font-weight: 100;
	letter-spacing: 3px;
}


.prod .nm-prod a{
	text-decoration: none;
}

.prod .nm-prod a:hover{
	text-decoration: underline;
	text-underline-offset: 4px;
}


.prod .vl-prod,
.prod .tam-prod{
	font-size: 15px;
}

.conteudo-carrinho .quant{
	display: flex;
	align-items: center;
}

.quant-space{
    width: auto;
    max-width: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.quant-space input{
    max-width: 4em;
    color: var(--white);
    font-size: 1.4rem;
    font-weight: 500;
    opacity: .85;
    text-align: center;
    background-color: transparent;
    border: 0;
    padding: 0 0.5em;
    appearance: none;
}

/*Sumir as setinhas do input*/
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input {
    -moz-appearance: textfield;
}
input:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

.quant-space .btn{
	background-color: transparent;
    border: none;
    font-size: 1.2em;
    width: 3em;
    height: 100%;
    text-align: center;
}

.conteudo-carrinho .preco-total{
	display: flex;
	align-items: center;
	justify-content: flex-end;
}


main .final-carrinho{
	width: 100%;
    padding-top: 2em;
    display: flex;
    justify-content: flex-end;
}

.final-carrinho .info-total{
	width: 25em;

	display: flex;
	flex-direction: column;
	gap: 1em;

	text-align: right;
}

.info-total button{
	padding: 0.8em 1.8em;
    border: 2px solid ;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: var(--white);
    cursor:pointer;
}
   
.info-total button:hover {
    background: var(--white);
    color: var(--black);
}

@media screen and (max-width: 1150px) {
	main{
		width: 70%;
	}

	main .header-carrinho{
		grid-template-columns: 4fr 1fr;
	}

	main .header-carrinho .text-quant{
		display: none;
	}
    main .conteudo-carrinho .prod {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr; 
        grid-template-rows: auto;
    }


    .conteudo-carrinho .prod > :nth-child(2) {
        display: flex; 
        flex-direction: column; 
        gap: 1em; 
    	width: 100%;
    }

    .conteudo-carrinho .prod .image {
        grid-column: 1;
    }

    .conteudo-carrinho .prod .image img{
    	width: 120px;
    }

    .conteudo-carrinho .prod .desc-prod,
    .conteudo-carrinho .prod .quant {
        grid-column: 2;
    }

    .conteudo-carrinho .prod .preco-total {
        grid-column: 3;
    	grid-row: 1;
    }
}

@media screen and (max-width: 600px) {
	body{
		gap: 3em;
		justify-content: space-between;
	}

	main{
		width: 90%;
		height: auto;
		padding-top: 0;
	}

	.title{
		font-size: 20px;
	}

	.header-carrinho{
		font-size: 14px;
	}

	.prod .image img{
		width: 50px;
	}

	.prod .desc-prod .nm-prod{
		font-size: 13px;
	}

	.prod .desc-prod .vl-prod,
	.prod .desc-prod .tam-prod{
		font-size: 11px;
	}

	.prod .preco-total{
		font-size: 13px;
	}
}
