@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --black: #090909;
    --white: #ffffff;
    --gray: #606060;
  }

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Source Code Pro", monospace;
}

html, body{
    height: 100%;
}

body{
    line-height: 1.5;
    background-color: var(--black);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
}

main{
    width: 1000px;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

main .image{
    width: 70%;
}

.image img{
    width: 100%;
    filter: drop-shadow(0px 0px 4px var(--white));
}


main .info-prod{
    width: 30%;
    height: 40em;
    color: var(--white);
    font-weight: 100;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
}

.texto{
    opacity: 0.7;
}

main .nm_prod{
    text-align: center;
}


main .quantidade input{
    max-width: 3em;
    color: var(--white);
    font-size: 1.4rem;
    font-weight: 500;
    opacity: .85;
    text-align: center;
    background-color: transparent;
    border: 0;
    padding: 0 0.5em;
    appearance: none;
}

/*Sumir as setinhas do input*/
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input {
    -moz-appearance: textfield;
}
input:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

.quantidade{
    width: 10em;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.quant-space{
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.quantidade .btn-quant{
    width: 2em;
    height: 2em;
    font-size: 1em;
    border: 0;
    padding: 0;
    background-color: transparent;
    color: var(--white);
    
    cursor: pointer;
}

main .tam{
    width: 70%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.tam select{
    max-width: 20em;
    width: 100%;
    height: 2em;

    border: none;
    outline: none;
    border-radius: 0;
    background-color: transparent;
    color: var(--white);
    font-size: 16px;
    font-weight: 400;
    box-sizing: border-box;
}

.tam select option{
    border-color: var(--black);
    font-weight: normal;
    /*display: block;*/
    white-space: nowrap;
    /*padding: 0px 2px 1px;*/
    background-color: var(--black);
    color: var(--white);
}

span{
    color: var(--white);
    font-size: 20px;
    text-align: center;
}

.btn{
    padding: 0.8em 1.8em;
    background-color: transparent;
    border: 2px solid var(--white);
    position: relative;
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    font-family: inherit;
    color: var(--white);
    cursor: pointer;
}
   
.btn:hover {
    background: var(--white);
    color: #111;
}

@media only screen and (max-width: 1050px){
    main{
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    main .image{
        width: 100%;
    }

    main .info-prod{
        width: 100%;
        height: auto;
        font-size: 20px;
    }

    select{
        font-size: 20px;
    }
}
